---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.vue'
---

<Layout title="Seismic Enterprises - Landing Page">
	<main class="container">
		<Header />
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024] mx-auto">
			<div class="flex flex-col lg:flex-row items-center relative z-0">
				<div>
					<h1 class="text-4xl font-bold lg:text-[5rem] lg:leading-[5rem] text-gradient">Seismic Enterprises</h1>
					<p class="py-5 lg:py-[4rem] lg:text-xl">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium fugit dolorem obcaecati tempore ab ea vitae. Modi voluptas laboriosam reiciendis
						cum unde alias id quo cumque quibusdam ullam! Dolores, quasi.
					</p>
					<button
						class="text-almost-white bg-almost-black rounded-xl px-5 py-2 border border-almost-black hover:bg-almost-white hover:text-almost-black lg:text-xl lg:py-3 lg:px-8"
						>About Us</button
					>
					<ul class="lg:absolute bottom-[-1rem] flex justify-center mt-[3rem] space-x-9 items-center">
						<li></li>
					</ul>
					<div class="order-first lg:order-last">
						<img class="lg:hidden mb-9" />
						<img class="hidden lg:block" />
					</div>
				</div>
			</div>
			<div class="flex flex-col lg:flex-row items-center relative z-0">
			</div>
		</div>
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-right max-w-[1024] mx-auto">
			<div class="flex flex-col lg:flex-row items-center relative z-0">
			</div>
			<div class="flex flex-col lg:flex-row items-center relative z-0">
				<div class="col-span-2">
					<h1 class="text-4xl font-bold lg:text-[5rem] lg:leading-[5rem] text-gradient">Game Enhancing Provider</h1>
					<p class="py-5 lg:py-[4rem] lg:text-xl">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium fugit dolorem obcaecati tempore ab ea vitae. Modi voluptas laboriosam reiciendis
						cum unde alias id quo cumque quibusdam ullam! Dolores, quasi.
					</p>
				</div>
			</div>
		</div>
	</main>
</Layout>
